main.main {
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(-25%, -50%);
    max-width: 780px;
}

h1.title {
    font-size: 72px;
    line-height: 1.1;
    animation: load .5s ease-in-out;
}

h2.description {
    opacity: .5;
    font-weight: 500;
    padding: 16px 0;
    max-width: 550px;
    animation: load .5s .1s ease-in-out;
}

@keyframes load {
    0% {
        opacity: 0;
        transform: translateX(-1%)
    }

    100% {
        transform: translateX(0)
    }
}