.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 3rem;
}

.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.nav ul {
    display: flex;
}

.nav li {
    margin: 0 1.5rem;
}