.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 3rem;
}

.logo,
.books-link {
    font-size: 24px;
}

.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 8px;
}

.nav li .nav-link:hover {
    background-color: #33333355;
    box-shadow: 0 0 10px #151619;
    opacity: 1;
    transition: all .3s;
}

a.nav-link {
    display: flex;
    padding: 5px 10px;
    border-radius: 7px;
    opacity: .5;
    font-weight: 500;
    font-size: 16px;
}

a.nav-link .link-span {
    margin-left: 8px;
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
}

a.nav-link.show {
    opacity: 1;
}

a.nav-link.show .link-span {
    transform: rotateX(180deg);
}

.link-content {
    position: relative;
    display: flex;
    align-items: center;
}

